* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px "microsoft yahei", Arial;
    color: #666;
    background-color: #fff;
}

ul, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0px;
    padding: 0px;
    font: 12px "microsoft yahei", Arial;
    color: #666;
}

clear {
    clear: both;
}

/* 全局 */

a:hover {
    color: red;
    text-decoration: underline;
}

.w {
    width: 1211px;
    margin: 0 auto;
}

.m, .mb, .mc, .mt, .sm, .smb, .smc, .smt {
    overflow: hidden;
    zoom: 1;
}

a {
    color: #666;
    text-decoration: none;
}

a img {
    border: 0;
}

img {
    vertical-align: middle;
}

.form .label, .form button, .form input, .form label, .form select, .form textarea {
    float: left;
    font-size: 12px;
}

a {
    color: #666;
    text-decoration: none;
}

.lf {
    float: left;
}

.rt {
    float: right;
}

.clearfix::after {
    display: block;
    content: "";
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}

input {
    outline: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

