body{
    /**外边距  内边距  字体：大小  字体  颜色*/
    margin:0px;
    padding:0px;
    font:12px "microsoft yahei",Arial;
    color:#666;
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{
    margin:0px;
    padding:0px;
    list-style:none;
}
a{
    color:#666;
    text-decoration:none;
}
.lf{
    float:left;
}
.rt{
    float:right;
}
.clear{
    clear:both;
}
input{
    border:none;
    outline:none;
}

/**整体布局**/
#ad,#hot_goods,#aside,#search,#top_box,#top_main,#nav,#banner,#main,#foot_box,#footer{
    /**宽度，水平居中对齐*/
    width:1211px;
    margin:0px auto;
}


/*****1.页面顶部************/
#top{
    /**高度   行高  背景颜色    下边框*/
    height:30px;
    line-height:30px;
    background:#f7f7f7;
    border-bottom:1px solid #eee;
    background-color:#ebe7e7;
}

#top_box>img{
    margin-top:8px;
    margin-right:5px;
}

#top_box ul li{
    /**左浮动   右边外边距*/
    float:left;
    margin-right:5px;
}

#top_box b{
    /**左边框  右外边距*/
    border-left:1px solid #ddd;
    margin-right:5px;
}
/**会员俱乐部*/
li.vip a{
    /**左内边距  ，背景图片*/
    padding-left:29px;
    background:url(../images/vip.jpg) no-repeat left center;
}
li.dakehu a {
    padding-left:29px;
    background:url(../images/dakehu.jpg) no-repeat left center;

}
/**手机京东*/
li.app_jd a{
    /**显示方式：行内块元素    高度   左内边距   背景属性*/
    display:inline-block;
    height:22px;
    padding-left:18px;
    background:url(../images/iconlist_2.png) no-repeat -128px -360px;
    line-height:22px;
}

li.app_jd a:hover{
    background-position:-128px -399px;
}

/***客户服务*/
li.service>a{
    /**左右内边距  ，背景图片  左右上边框*/
    padding:0px 15px;
    background:url(../images/jt_down.jpg) no-repeat 95% center;
    border:1px solid transparent;
    border-bottom:0px;
    /**显示方式：高度  行高*/
    display:inline-block;
    height:26px;
    line-height:26px;
}

li.service>a:hover{
    /**边框颜色 背景颜色   背景图片*/
    border-color:#ddd;
    background-color:#fff;
    background:url(../images/jt_up.jpg) no-repeat 95% center;

}

/**弹出菜单**/
li.service ul{
    width:78px;
    border:1px solid #ddd;
    border-top:0px;
    background-color:#fff;
    text-align:center;
    /**绝对定位*/
    position:absolute;
    top:28px;
    left:6px;
    /**不显示*/
    display:none;

}
li.service ul li{
    margin-left: 15px;
}
li.service{
    /**相对定义*/
    position:relative;
}
li.service:hover ul{
    display:block;
}
/* 广告 */
#ad img{
    height: 80px;
    width: 100%;
}

#search{
    height: 120px;

}
#search div.logo{
    height: 80px;
    margin-top: 13px;
}
#search div.logo img{
    width: 80%;
}
/* 食品饮料  */
p.food_drink{
    margin-top: 35px;
}
p.food_drink span{
    font-size: 20px;
}
/* 全部分类 */
div.fenlei {
    margin:38px 10px;
    border: 1px solid #ddd;
}
div.fenlei ul{
    width:76px;
    border:1px solid #ddd;
    border-top:0px;
    background-color:#fff;
    text-align:center;
    /**绝对定位*/
    position:absolute;
    top:170px;
    left:420px;
    /**不显示*/
    display: none;

}
div.fenlei>a{
    padding-left: 5px;
    padding-right: 23px;
    background: url(../images/images/xialabiao.png) no-repeat 55px -2px;
}
div.fenlei:hover ul{
    display: block;
}
/* 搜索框 */
#search_box{
    /*宽度 左右外边距 浮动*/
    width: 500px;
    margin:30px 80px 0px 80px;
    float: left;
}
#search_box div.search{
    /*宽度 高度 内边距 背景颜色*/
    width: 500px;
    height: 30px;
    padding: 3px;
    background-color: rgb(255, 128, 64);
}
#search_box div.search input.txtSearch{
    /*宽度 高度 内边距 */
    width: 410px;
    height: 30px;
    padding: 0px;
    padding-left: 10px;
    color: #666;

}

#search_box div.search button{
    /*去边框 背景色 宽度 高度 文字：大小 颜色 加粗 */
    background-color: rgb(255, 128, 64);
    border: 0px;
    height: 28px;
    width: 75px;
    font-size: 14px;
    color: #fff;

}
#search_box div.hot_words{
    margin-top: 3px;
    height: 16px;
    overflow: hidden;
}
div.hot_words span,div.hot_words a{
    color: #999;
}

div.hot_words a{
    margin-right: 5px;
}
/* 购物车 */
#shoppingCar{
    border: 1px solid rgb(186, 191, 199);
    margin-top:34px;
    margin-left: 18px;

    /*border: 1px solid #999;*/
    float: left;
    width: 140px;
    height: 31px;
}
#shoppingCar a{
    float: left;
    padding-left: 25px;
    line-height: 28px;
    font-size: 12px;
    font-family: 微软雅黑;
    color: red;

}
#shoppingCar span.sanjiao{
    float: left;
    height: 30px;
    width: 48px;
    margin-left: 85px;
    margin-top: -28px;
    background: url(../images/images/gouwuche.png) no-repeat 0px 0px;
}
/* 导航栏 */
#nav{
    height: 40px;

}
#nav p{
    /* 外边距，内边距，背景色， */
    height: 40px;
    width: 200px;
    background-color: #E64346;
    float: left;
}
#nav p span{
    /* 字体：大小，颜色，加粗 */
    display: inline-block;
    margin: 8px 60px 10px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;

}
#nav ul li{
    float: left;
    margin-left: 30px;
    margin-top: 17px;
}
#nav ul li i{
    border-left:1px solid #ddd;
    margin-left: 30px;
}

/* section */
#aside{
    height: 600px;
}
#aside>ul{
    float: left;
    width: 197px;
    height: 403px;
    padding-top: 5px;
    border-top: 0px;
    margin-top: 10px;
    background-color: #fafafa;

}
#aside>ul>li{
    position: relative;
    box-sizing: border-box;
    margin-top: -1px;
    padding: 13px 10px;
    border: 1px solid transparent;
    border-top-color: #e4e5ea;
    background: #fff;
}
#aside>ul>li>a{
    padding-left: 20px;
    font-size: 15px;
}
/* 箭头外框 */
#aside>ul>li>a>i{

    margin-right: -11px;
}
/* 箭头 */
#aside>ul>li>a>i>img{
    width: 70%;
}
#aside>ul>li>nav>a{
    display: inline-block;
    margin-top: 8px;
}
#aside>ul>li>nav>i{
    border-left:1.5px solid rgb(165, 164, 164);
    margin-right:4px;
}
#aside>ul>li a:hover{
    color: #E64346;
}
#aside>ul>li:hover #sub_cate_box{
    display: block;
}

/* 子分类内容 */
#sub_cate_box{
    float: left;
    /**边框 背景 宽度 高度 内边距*/
    border: 1px solid #ddd;
    background-color: #fff;
    width: 500px;
    padding:0px 5px;
    display: none;
    /*绝对定位*/
    position: absolute;
    top:1px;
    left: 196px;
    z-index: 10;
}
/* 关闭 */
#sub_cate_box div.close{
    /*宽度 高度 水平居中 垂直居中 文本：大小 颜色 倒角  背景颜色*/
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: #555;

    /**绝对定位*/
    position: absolute;
    top: -1px;
    right: 0px;
    cursor: pointer;
}

/*子分类内容**/
div.sub_cate_content{

    width: 400px;
    min-height: 100px;

}
/**子分类的一块内容*/
div.sub_cate_content dl{
    height: 60px;
    width: 600px;

}

/**糖巧*/

div.sub_cate_content dt.title{
    float: left;
    width: 100px;
}

div.sub_cate_content dt.title a{
    display: inline-block;
    padding-left: 30px;
    margin: 20px 0px 0px 30px;
    font-size: 15px;
}
/*分类  */
div.sub_cate_content dl dd{
    float: left;
    width: 300px;
    margin-top: 21px;
}
/* 分类小项目 */
div.sub_cate_content dl dd>a{
    padding: 7px;
}
div.sub_cate_content dl dd i{
    border-right: 1px solid #ddd;
}

#aside div.ad_box{
    height: 500px;
    width: 500px;
    background-color: green;
}

#slider_box{
    /**宽度 高度  左浮动 上外边距 左外边距***/
    width: 1010px;
    height: 400px;
    float: left;

}

/* 滚动图片 */

#slider>img{
    /* width: 96%; */
    width: 1010px;
}
#slider li{
    /**宽度 高度  左浮动 倒角 水平对齐 垂直对齐 背景颜色 右外边距 文字颜色***/
    width: 20px;
    height: 20px;
    float: left;
    border-radius: 50%;
    background-color: #3e3e3e;

    text-align: center;
    line-height: 20px;
    color: #fff;

    margin-left: 10px;
    cursor: pointer;
}

#slider{
    position: relative;
}
#slider ul{
    position: absolute;
    right: 50px;
    bottom: 30px;
}
#slider li:hover{
    background-color: #E4393C;
}
/* 下方小图片 */
#aside ul.little{
    height: 100px;
    width: 1010px;
    float: left;
    margin-top: 90px;

}
#aside ul>li{
    float: left;
    width:188px;
    margin-top:-10px;
    margin-right: 10px;
}
#aside ul>li>img{
    padding: 0px;
    width: 110%;
    margin: 0px -10px;
    padding: 5px;
}
#aside ul.little>li :hover{
    box-shadow: 0px 0px 0px 3px red;
}

/* 热卖商品 */
#hot_goods{
    overflow: hidden;

}
#hot_goods p>img{
    width:100.2%;
}
/*  热卖商品图片*/
div.hot_good{
    width: auto;
    height: 230px;

}
div.hot_good>ul{
    float: left;
}
div.hot_good>ul>li{
    float: left;
    width: 200px;


}
div.hot_good>ul>li img{
    width: 75%;
    margin-left: 10px;
}
div.hot_good>ul>li div.sanzhi{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    font-size: 16px;
}
div.hot_good>ul>li div.yiyijiu{
    font-size: 14px;
    margin-left: 65px;
    color: red;
    font-weight: bold;
}
/* 内容图片 */
div.content_img{
    width: 1211px;
    height: 600px;
}
div.content_img div.binggan img{
    width: 180px;
    float: left;
}
div.content_img>ul{
    float: left;

    width: 1000px;
}
div.content_img>ul>li{
    height: 220px;
    width: 200px;
    float: left;
    margin-top: 20px;
}
div.content_img>ul>li img{
    width: 80%;
    margin-left: 30px;
}
/* 描述文字 */
div.content_img>ul>li div.wenzi{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:1;
    font-size: 16px;
    margin-left: 22px;

}
/* 金币 */
div.content_img>ul>li div.money{
    color: red;
    font-size: 15px;
    font-weight: bold;
    margin: 13px 20px 0px 90px;
}
/* 顶部图片 */
div.top_img{
    margin-top: -90px;

}
/* 底部内容 */
#foot_box{
    height: 160px;

    background-color: #ebe7e7;

}
#footer{
    height: 300px;

    background-color: #ebe7e7;
}
/* 底部四幅图片 */
#foot_box{
    height: 160px;

}
#foot_box div{
    float: left;
    width: 200px;
    margin-left: 20px;

}
#foot_box div p{

    margin:4px 0px 10px 0px;
}
#foot_box div div{
    float: left;
    height: 200px;
    width:70px;
    margin-right: 10px;
}
#foot_box div img{
    float: right;
}
#foot_box div ul li{
    margin: 4px;
}

#footer div{
    width: 1000px;
    height: 180px;
    float: left;
    margin: 10px 0px;
}

#footer div ul{
    margin-left: 400px;
}
#footer div li{
    float: left;
    margin-right: 20px;
}
/* 侧边阴影 */
#yinying{
    width: 180px;
    height: 460px;
    float: left;

    background-color: #ebe7e7;
}
#yinying2{
    width: 180px;
    height: 460px;
    float: right;

    background-color: #ebe7e7;
    margin-top: -156px;
}
a:hover{
    color: #b61d1d;
}